In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
import datetime

In [3]:
dt=datetime.date.today()
dt

datetime.date(2022, 9, 21)

In [4]:
import re

In [6]:
df=pd.read_excel("flipkart_Apple_IPhone_13_20220921.xlsx")

In [7]:
df.head()

        date  rating                                             review
0   2 months       5  Brilliant I switch to ios from android after 1...
1  11 months       5  Fabulous! Amazing beast....As expected , didn'...
2   2 months       5  Worth every penny Day 2 Review: Display shows ...
3   8 months       5  Perfect product! Awesome camera Amazing batter...
4  10 months       5  Must buy! Just upgraded from 11 to iPhone 13 ....

In [8]:
df.isna().sum()

date      0
rating    0
review    0
dtype: int64

In [10]:
df.rating.value_counts()

5    472
4     65
1     12
3     10
2      3
Name: rating, dtype: int64

In [11]:
def extract(n):
    pattern=r"(\d+) (\w+)"
    f=re.findall(pattern,n)
    return(f[0])

In [12]:
extract("10 months")

('10', 'months')

In [13]:
extract("5 days")

('5', 'days')

In [14]:
dt=datetime.date(2022, 9, 21)

In [15]:
def convert(n):
    tup=extract(n)
    num=int(float(tup[0]))
    t=tup[1]
    if(t=="months"):
        d=num*30
    elif(t=="month"):
        d=30
    elif(t=="days"):
        d=num
    elif(t=="day"):
        d=num
    return(dt-datetime.timedelta(days=d))

In [16]:
convert("5 days")

datetime.date(2022, 9, 16)

In [17]:
convert("10 months")

datetime.date(2021, 11, 25)

In [18]:
df.head()

        date  rating                                             review
0   2 months       5  Brilliant I switch to ios from android after 1...
1  11 months       5  Fabulous! Amazing beast....As expected , didn'...
2   2 months       5  Worth every penny Day 2 Review: Display shows ...
3   8 months       5  Perfect product! Awesome camera Amazing batter...
4  10 months       5  Must buy! Just upgraded from 11 to iPhone 13 ....

In [19]:
df["Date"]=df["date"].apply(convert)

In [20]:
df

,date,rating,review,Date
0,2 months,5,Brilliant I switch to ios from android after 1...,2022-07-23
1,11 months,5,"Fabulous! Amazing beast....As expected , didn'...",2021-10-26
2,2 months,5,Worth every penny Day 2 Review: Display shows ...,2022-07-23
3,8 months,5,Perfect product! Awesome camera Amazing batter...,2022-01-24
4,10 months,5,Must buy! Just upgraded from 11 to iPhone 13 ....,2021-11-25
...,...,...,...,...
557,3 months,5,Awesome Good .,2022-06-23
558,3 months,5,Classy product So far so good. Better than any...,2022-06-23
559,3 months,5,Terrific Nice phone my first iphone,2022-06-23
560,3 months,5,Mind-blowing purchase Mobile was excellent. Th...,2022-06-23
561,3 months,5,Terrific Very nice mobile I am happy 😊,2022-06-23

In [24]:
df[df.date=="26 days"]

        date  rating                  review        Date
260  26 days       5  Great product All good  2022-08-26

In [25]:
flipkart=df[["Date","rating","review"]]

In [26]:
flipkart

           Date  rating                                             review
0    2022-07-23       5  Brilliant I switch to ios from android after 1...
1    2021-10-26       5  Fabulous! Amazing beast....As expected , didn'...
2    2022-07-23       5  Worth every penny Day 2 Review: Display shows ...
3    2022-01-24       5  Perfect product! Awesome camera Amazing batter...
4    2021-11-25       5  Must buy! Just upgraded from 11 to iPhone 13 ....
..          ...     ...                                                ...
557  2022-06-23       5                                     Awesome Good .
558  2022-06-23       5  Classy product So far so good. Better than any...
559  2022-06-23       5                Terrific Nice phone my first iphone
560  2022-06-23       5  Mind-blowing purchase Mobile was excellent. Th...
561  2022-06-23       5             Terrific Very nice mobile I am happy 😊

[562 rows x 3 columns]

In [27]:
flipkart.to_excel("flipkart_Apple_IPhone_13_20220921.xlsx",index=False)

In [28]:
flipkart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    562 non-null    object
 1   rating  562 non-null    int64
 2   review  562 non-null    object
dtypes: int64(1), object(2)
memory usage: 13.3+ KB

In [29]:
flipkart.Date.value_counts()

2022-06-23    97
2022-07-23    90
2022-08-22    68
2021-10-26    59
2022-05-24    52
2022-04-24    47
2021-11-25    44
2022-02-23    43
2022-01-24    20
2022-03-25    13
2021-12-25     9
2022-09-06     3
2022-09-14     3
2022-09-04     2
2022-08-30     1
2022-08-27     1
2022-08-31     1
2022-09-18     1
2022-09-19     1
2022-08-23     1
2022-09-13     1
2022-08-24     1
2022-09-09     1
2022-08-25     1
2022-08-28     1
2022-08-26     1
Name: Date, dtype: int64

In [30]:
for i in flipkart.Date:
    print(i,type(i))

2022-07-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2022-08-28 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-09-06 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-08-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-09-06 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-08-25 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-09-09 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-08-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-09-14 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-09-13 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-08-27 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-09-06 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-09-19 <class 'datetime.date'>
2022-09-18 <class 'datetime.date'>
2022-09-14 <class 'datetime.date'>
2022-09-04 <class 'datetime.date'>
2022-08-31 <class 'datetime.date'>
2022-08-30 <class 'datetime.date'>
2022-08-26 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-09-14 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2021-12-25 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-01-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-09-04 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2021-11-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2021-10-26 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-04-24 <class 'datetime.date'>
2022-03-25 <class 'datetime.date'>
2022-02-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-05-24 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-08-22 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-07-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>
2022-06-23 <class 'datetime.date'>